/*Reset de estilos*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: inherit;
}

/*Estilos generales*/
body {
  background-color: #35363A;
}

h1, h2 {
  text-align: center;
  color: white;
  font-size: 24px;
  margin: 10px auto;
}

/*Comienza el header*/
.header {
  width: 100%;
  background-color: #11111F;
  margin-bottom: 15px;
}
.header .horarios {
  width: 100%;
  height: auto;
  background-color: #C1A01E;
  color: white;
  text-align: center;
  font-weight: bold;
}
.header .logo {
  display: flex;
  justify-content: center;
  width: 100%;
}
.header .logo img {
  max-width: 100%;
}
.header .lista-menu {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 10px;
  list-style: none;
  transition: 0.3s;
}
.header .lista-menu li:hover {
  transform: scale(1.05);
}
.header .lista-menu li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.header .lista-menu li a:hover {
  color: #C1A01E;
}

/*Comienza el footer*/
.footer {
  text-align: center;
  min-height: 180px;
  width: 100%;
  background-color: #11111F;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.footer ul {
  list-style: none;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  color: #C1A01E;
}
.footer .footer-container {
  width: 90%;
  height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-container .logo-footer {
  max-width: 50%;
  height: auto;
  max-height: 80%;
}
.footer .footer-container .rrss {
  list-style: none;
  display: flex;
  color: white;
  text-align: center;
}

/*Index*/
.carousel {
  width: 85%;
  margin: 15px auto;
}
.carousel .carousel-item img {
  height: 80vh;
}

.categorias {
  width: 100%;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
}
.categorias .categoria-producto {
  color: white;
  text-align: center;
  font-weight: bold;
}
.categorias .categoria-producto img {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

/*Sucursales*/
.sucursales {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 15px auto;
}
.sucursales .sucursal {
  text-align: center;
  width: 30%;
  height: 33vh;
  color: white;
}
.sucursales .sucursal iframe {
  width: 100%;
  height: 90%;
}

/*Marcas*/
.container-marcas {
  width: 90%;
  margin: 15px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  transition: 0.3s;
}
.container-marcas .marca:hover {
  transform: scale(1.05);
}
.container-marcas .marca img {
  width: 100%;
  height: auto;
}

/*Preguntas frecuentes*/
.faqs {
  width: 80%;
  margin: 0 auto;
}
.faqs .pregunta {
  margin: 25px 0;
  background-color: #11111F;
  padding: 15px 5px;
}
.faqs .pregunta p, .faqs .pregunta h2 {
  font-weight: bold;
  text-align: left;
  color: white;
}

/*Contacto*/
.formulario {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 10px auto;
}
.formulario label {
  color: white;
}

/*Media Queries*/
@media (max-width: 550px) {
  .carousel .carousel-item img {
    height: 35vh;
  }
  .header .lista-menu {
    width: 90%;
  }
  .header .lista-menu li a {
    font-size: 20px;
    font-weight: 500;
  }
  .categorias {
    width: 95%;
  }
  .categorias .categoria-producto {
    font-weight: 500;
  }
  .categorias .categoria-producto img {
    width: 65px;
    height: 65px;
  }
  .formulario {
    width: 65%;
  }
  .faqs .pregunta p {
    text-align: left;
  }
  .faqs .pregunta h2 {
    text-align: center;
  }
  .sucursales {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px auto;
  }
  .sucursales .sucursal {
    text-align: center;
    margin: 10px auto;
    width: 90%;
    height: auto;
    color: white;
  }
  .container-marcas {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 430px) {
  .header .lista-menu {
    width: 95%;
  }
  .header .lista-menu li a {
    font-size: 18px;
    font-weight: 500;
  }
  .categorias .categoria-producto img {
    width: 60px;
    height: 60px;
  }
  .categorias .categoria-producto p {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */