@import "./partials/variables";
@import "./partials/reset";
@import "./partials/general";
@import "./partials/index";
@import "./partials/sucursales";
@import "./partials/marcas";
@import "./partials/faqs";
@import "./partials/contacto";
@import "./partials/queries";