$color-fondo: #35363A;
$color-fondo-oscuro: #11111F;
$color-principal: #C1A01E;
$fuente-principal: 'Nunito', sans-serif;


/*Reset de estilos*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fuente-principal;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: inherit;
}

/*Estilos generales*/

body{
    background-color: $color-fondo;
}

h1, h2{
    text-align: center;
    color: white;
    font-size: 24px;
    margin: 10px auto;
}

/*Comienza el header*/
.header{
    width: 100%;
    background-color: $color-fondo-oscuro;
    margin-bottom: 15px;
    .horarios{
        width: 100%;
        height: auto;
        background-color: $color-principal;
        color: white;
        text-align: center;
        font-weight: bold;
    }
    .logo{
        display: flex;
        justify-content: center;
        width: 100%;
        img{
            max-width: 100%;
        }
    }
    .lista-menu{
        display: flex;
        justify-content: space-around;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 10px;
        list-style: none;
        transition: 0.3s;
        li{
            &:hover{
                transform: scale(1.05);
            }
            a{
                text-decoration: none;
                color: white;
                font-size: 24px;
                font-weight: bold;
                &:hover{
                    color: $color-principal;
                }
            }
        }
    }
}

/*Index*/

.carousel{
    width: 85%;
    margin: 15px auto;
    .carousel-item img{
        height: 80vh;
    }
}

.categorias{
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    .categoria-producto{
        color: white;
        text-align: center;
        font-weight: bold;
        img{
            width: 150px;
            height: 150px;
            cursor: pointer;
        }
    }
}

/*Sucursales*/
.sucursales{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 15px auto;
    .sucursal{
        text-align: center;
        width: 30%;
        height: 33vh;
        color: white;
        iframe{
            width: 100%;
            height: 90%;
        }
    }
}

/*Marcas*/
.container-marcas{
    width: 90%;
    margin: 15px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    transition: 0.3s;
    .marca{
        &:hover{
            transform: scale(1.05);
        }
        img{
            width: 100%;
            height: auto;
        }
    }
}

/*Preguntas frecuentes*/
.faqs{
    width: 80%;
    margin: 0 auto;
    .pregunta{
        margin: 25px 0;
        background-color: $color-fondo-oscuro;
        padding: 15px 5px;
        p, h2{
            font-weight: bold;
            text-align: left;
            color: white;
        }
    }
}

/*Contacto*/

.formulario{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 10px auto;
    label{
        color: white;
    }
}

/*Comienza el footer*/
.footer{
    text-align: center;
    min-height: 180px;
    width: 100%;
    background-color: $color-fondo-oscuro;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: white;
        &:hover{
            color: $color-principal;
        }
    }
    .footer-container{
        width: 90%;
        height: 180px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo-footer{
            max-width: 50%;
            height: auto;
            max-height: 80%;
        }
        .rrss{
            list-style: none;
            display: flex;
            color: white;
            text-align: center;
        }
    }
}

/*Media Queries*/
@media (max-width: 550px){
    .lista-menu{
        width: 90%;
        a{
            font-size: 20px;
            font-weight: 500;
        }
    }

    .carousel-item img{
        height: 35vh;
    }

    .categorias{
        width: 95%;
    }

    .formulario{
        width: 65%;
    }

    .categoria-producto{
        font-weight: 500;
        img{
            width: 65px;
            height: 65px;
        }
    }

    .faqs p{
        text-align: left;
    }

    .faqs h2{
        text-align: center;
    }

    .sucursales{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 15px auto;
        .sucursal{
            text-align: center;
            margin: 10px auto;
            width: 90%;
            height: auto;
            color: white;
        }
    }

    .container-marcas{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 430px){
    .lista-menu{
        width: 95%;
        a{
            font-size: 18px;
            font-weight: 500;
        }
    }

    .categorias p{
        font-size: 12px;
        .categoria-producto img{
            width: 60px;
            height: 60px;
        }
    }
}