/*Marcas*/
.container-marcas{
    width: 90%;
    margin: 15px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    transition: 0.3s;
    .marca{
        &:hover{
            transform: scale(1.05);
        }
        img{
            width: 100%;
            height: auto;
        }
    }
}