/*Media Queries*/
@media (max-width: 550px){
    .header{
        .lista-menu{
            width: 90%;
            li a{
                font-size: 20px;
                font-weight: 500;
            }
        }
    }

    .categorias{
        width: 95%;
        .categoria-producto{
            font-weight: 500;
            img{
                width: 65px;
                height: 65px;
            }
        }
    }

    .formulario{
        width: 65%;
    }



    .faqs{
        .pregunta{
            p{
                text-align: left;
            }
            h2{
                text-align: center;
            }
        }
    }

    .sucursales{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 15px auto;
        .sucursal{
            text-align: center;
            margin: 10px auto;
            width: 90%;
            height: auto;
            color: white;
            margin: 10px auto;
        }
    }

    .container-marcas{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 430px){

    .header{
        .lista-menu{
            width: 95%;
            li a{
                font-size: 18px;
                font-weight: 500;
            }
        }
    }

    .categorias{
        .categoria-producto{
            img{
                width: 60px;
                height: 60px;
            }
            p{
                font-size: 12px;
            }
        }
    }
}